[Unit]
Description=Status-Page Request Queue Worker
Documentation=https://docs.status-page.dev/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=status-page
Group=status-page
WorkingDirectory=/opt/status-page

ExecStart=/opt/status-page/venv/bin/python3 /opt/status-page/statuspage/manage.py rqworker high default low

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
