*.pyc
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/statuspage/project-static/node_modules
/statuspage/project-static/docs/*
!/statuspage/project-static/docs/.gitkeep
/statuspage/static
/statuspage/statuspage/configuration.py
local_requirements.txt
gunicorn.py
!/contrib/gunicorn.py
/venv/
.DS_Store
.idea
.coverage
.vscode
__pycache__
