Markdown==3.3.7
Pillow==9.5.0
PyYAML==6.0
bleach==6.0.0
django-filter==23.2
django-formtools==2.4.1
django-mptt==0.14.0
django-otp-yubikey==1.0.1
django-otp==1.2.1
django-redis==5.2.0
django-rq==2.8.1
django-tables2==2.5.3
django==4.2.1
django_browser_reload==1.8.0
djangorestframework==3.14.0
drf-yasg==1.21.5
gunicorn==20.1.0
mkdocs-material==9.1.15
mkdocs==1.4.3
mkdocstrings[python-legacy]==0.22.0
netaddr==0.8.0
phonenumbers==8.13.16
psycopg2==2.9.6
pysvg-py3==0.2.2.post3
rq-scheduler==0.13.1
segno==1.5.2
swagger-spec-validator==3.0.3
typing-extensions==4.6.3
