Markdown==3.6
pillow==10.3.0
PyYAML==6.0.1
bleach==6.1.0
django-filter==24.2
django-formtools==2.5.1
django-mptt==0.16.0
django-otp-yubikey==1.1.0
django-otp==1.5.0
django-redis==5.4.0
django-rq==2.10.2
django-tables2==2.7.0
Django==4.2.13
django-browser-reload==1.12.1
djangorestframework==3.15.1
drf-yasg==1.21.7
gunicorn==22.0.0
mkdocs-material==9.5.27
mkdocs==1.6.0
mkdocstrings[python-legacy]==0.25.1
netaddr==1.2.1
phonenumbers==8.13.37
psycopg2==2.9.9
pysvg-py3==0.2.2.post3
rq-scheduler==0.13.1
segno==1.6.1
swagger-spec-validator==3.0.3
typing_extensions==4.11.0
