{% extends 'base/layout_email.html' %}

{% block content %}
<table style="width:750px; margin-right: auto; margin-left: auto; padding: 1rem; border-radius: 0.5rem; border: 0">
  <tr><td style="font-size: 1.125rem; line-height: 1.75rem;">Hello!</td></tr>
  <tr><td style="margin-top: 0.5rem;">Please verify your E-Mail at {{ site_title }} to receive component and incident notifications.</td></tr>
  <tr><td style="margin-top: 0.5rem;">Click the following Button to verify your E-Mail.</td></tr>
  <tr><td>
    <div style="border-radius: 0.375rem; padding: 0.25rem 0.5rem; background: #3b83f6; width: 120px; text-align: center; margin-right: auto; margin-left: auto">
      <a href="{{ verification_url }}" style="text-decoration-line: none; color: #ffffff; font-size: 1.25rem; line-height: 1.75rem;">Verify</a>
    </div>
  </td></tr>
  <tr><td style="margin-top: 0.5rem;">This link is only valid for 24 hours.</td></tr>
  <tr><td style="margin-top: 0.5rem;">
    Greetings,<br>
    {{ site_title }}
  </td></tr>
  <tr><td style="margin-top: 0.5rem;"></td></tr>
  <tr><td style="margin-top: 0.5rem;"><hr /></td></tr>
  <tr><td style="margin-top: 0.5rem; margin-right: auto; margin-left: auto;">
    <div style="padding: 0.25rem 0.5rem; width: 120px; text-align: center; margin-right: auto; margin-left: auto">
      <div>More Actions</div>
    </div>
    <div style="border-radius: 0.375rem; padding: 0.25rem 0.5rem; background: #3b83f6; width: 80px; text-align: center; margin-right: auto; margin-left: auto; margin-top: 0.25rem;">
      <a href="{{ management_url }}" style="text-decoration-line: none; color: #ffffff;">Manage</a>
    </div>
    <div style="border-radius: 0.375rem; padding: 0.25rem 0.5rem; background: #3b83f6; width: 80px; text-align: center; margin-right: auto; margin-left: auto; margin-top: 0.25rem;">
      <a href="{{ unsubscribe_url }}" style="text-decoration-line: none; color: #ffffff;">Unsubscribe</a>
    </div>
  </td></tr>
  <tr><td style="margin-top: 2rem; font-size: 0.875rem; line-height: 1.25rem; color: #a1a1aa;">
    Can't click any of the above Buttons?<br>
    Verify: {{ verification_url }}<br>
    Manage: {{ management_url }}<br>
    Unsubscribe: {{ unsubscribe_url }}
  </td></tr>
</table>
{% endblock content %}
