{% extends 'base/dashboard.html' %}
{% load form_helpers %}

{% block title %}
Change Password
{% endblock %}

{% block dashboard_content %}
  <form method="post" action="" class="grow bg-zinc-100 dark:bg-zinc-800 p-2 ring-1 ring-zinc-500 rounded-md shadow-lg">
    {% csrf_token %}

    <div class="space-y-4">
      <div class="mb-4">
        <div class="text-2xl">Password</div>
      </div>
      <div class="mb-2">
        {% render_field form.old_password %}
      </div>
      <div class="mb-2">
        {% render_field form.new_password1 %}
      </div>
      <div class="mb-2">
        {% render_field form.new_password2 %}
      </div>
    </div>

    <div class="my-3 flex flex-row items-center justify-end space-x-2">
      <a class="border border-gray-500 hover:bg-gray-500 hover:text-white text-gray-500 px-2 py-1 rounded-md font-medium h-8 flex items-center" href="{% url 'users:profile' %}">Cancel</a>
      <button type="submit" name="_update" class="bg-green-500 hover:bg-green-400 text-white px-2 py-1 rounded-md font-medium h-8 flex items-center">Save</button>
    </div>
  </form>
{% endblock %}
