{% extends 'base/layout.html' %}
{% load utils %}
{% load navigation %}
{% load static %}
{% load helpers %}

{% block content %}
  <div class="min-h-screen flex flex-col">
    <nav class="bg-indigo-600" x-data="{
        open: false,
        close(focusAfter) {
          if (! this.open) return;
          this.open = false;
          focusAfter && focusAfter.focus()
        },
      }"
    >
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="" src="{% static 'logo.svg' %}" alt="Status-Page">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                {% nav %}
              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">
              <div class="ml-3">
                <div>
                  <button class="color-mode-toggle text-white"><i class="color-mode-icon mdi"></i></button>
                </div>
              </div>
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button @click="open = !open"
                          x-ref="profile_dropdown_button"
                          type="button"
                          class="flex max-w-xs items-center rounded-full bg-indigo-600 text-sm text-white focus:outline-none"
                          id="user-menu-button"
                          aria-expanded="false"
                          aria-haspopup="true"
                  >
                    <span class="sr-only">Open user menu</span>
                    <svg class="h-8 w-8 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                  </button>
                </div>
                <div x-show="open"
                     x-transition:enter="transition ease-out duration-100"
                     x-transition:enter-start="transform opacity-0 scale-95"
                     x-transition:enter-end="transform opacity-100 scale-100"
                     x-transition:leave="transition ease-in duration-75"
                     x-transition:leave-start="transform opacity-100 scale-100"
                     x-transition:leave-end="transform opacity-0 scale-95"
                     x-on:click.outside="close($refs.profile_dropdown_button)"
                     class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                     role="menu"
                     aria-orientation="vertical"
                     aria-labelledby="user-menu-button"
                     tabindex="-1"
                >
                  <div class="divide-y divide-gray-200">
                    <div class="py-1" role="none">
                      <p class="px-4 py-1 text-gray-500 text-sm">User</p>
                      <a href="{% url 'users:profile' %}" class="{% dashboard_dropdown_active 'users:profile' %} block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">Profile</a>
                      <a href="{% url 'users:preferences' %}" class="{% dashboard_dropdown_active 'users:preferences' %} block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">Preferences</a>
                      <a href="{% url 'users:change_password' %}" class="{% dashboard_dropdown_active 'users:change_password' %} block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">Password</a>
                      <a href="{% url 'users:token_list' %}" class="{% dashboard_dropdown_active 'users:token_list' %} block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">API Tokens</a>
                      <a href="{% url 'users:device_list' %}" class="{% dashboard_dropdown_active 'users:device_list' %} block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">2FA Devices</a>
                    </div>
                    {% if request.user.is_staff %}
                      <div class="py-1" role="none">
                          <a href="{% url 'admin:index' %}" class="{% dashboard_dropdown_active 'admin:index' %} block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">Admin {% badge '2FA Required' %}</a>
                      </div>
                    {% endif %}
                    {% if perms.extras.view_objectchange %}
                      <div class="py-1" role="none">
                          <a href="{% url 'extras:objectchange_list' %}" class="{% dashboard_dropdown_active 'extras:objectchange_list' %} block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">Changelog</a>
                      </div>
                    {% endif %}
                    {% if perms.subscribers.view_subscriber and config.SITE_SUBSCRIBERS %}
                      <div class="py-1" role="none">
                          <a href="{% url 'subscribers:subscriber_list' %}" class="{% dashboard_dropdown_active 'subscribers:subscriber_list' %} block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">Subscribers</a>
                      </div>
                    {% endif %}
                    <div class="py-1" role="none">
                      <a href="{% url 'logout' %}" class="{% dashboard_dropdown_active 'logout' %} block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">Sign out</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
            <button type="button" @click="open = !open" class="inline-flex items-center justify-center rounded-md bg-indigo-600 p-2 text-indigo-200 hover:bg-indigo-500 hover:bg-opacity-75 hover:text-white focus:outline-none" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg x-show="!open" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <svg x-show="open" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden" id="mobile-menu" x-show="open">
        <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
          {% nav mobile=True %}
        </div>
        <div class="border-t border-indigo-700 pt-4 pb-3">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <svg class="h-10 w-10 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </div>
          </div>
          <div class="mt-3 space-y-1 px-2">
            <a href="{% url 'users:profile' %}" class="{% dashboard_link_active 'users:profile' %} block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75">Profile</a>
            <a href="{% url 'users:preferences' %}" class="{% dashboard_link_active 'users:preferences' %} block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75">Preferences</a>
            <a href="{% url 'users:change_password' %}" class="{% dashboard_link_active 'users:change_password' %} block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75">Password</a>
            <a href="{% url 'users:token_list' %}" class="{% dashboard_link_active 'users:token_list' %} block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75">API Tokens</a>
            <a href="{% url 'users:device_list' %}" class="{% dashboard_link_active 'users:device_list' %} block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75">2FA Devices</a>
            {% if request.user.is_staff %}
              <a href="{% url 'admin:index' %}" class="{% dashboard_link_active 'admin:index' %} block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75">Admin {% badge '2FA Required' %}</a>
            {% endif %}
            {% if perms.extras.view_objectchange %}
              <a href="{% url 'extras:objectchange_list' %}" class="{% dashboard_link_active 'extras:objectchange_list' %} block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75">Changelog</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="{% dashboard_link_active 'logout' %} block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75">Sign out</a>
          </div>
        </div>
      </div>
    </nav>

    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <div class="flex flex-row justify-between items-end">
          <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">{% block title %}{% endblock %}</h1>
          <div class="text-black">{% block controls %}{% endblock %}</div>
        </div>
      </div>
    </header>
    <main class="grow">
      <div class="mx-auto py-4 sm:px-6 lg:px-8 dark:text-white">
        {% block dashboard_content %}{% endblock %}
      </div>
    </main>
    <footer class="py-4 px-8 text-gray-500 dark:text-gray-300">
      <div class="flex flex-row justify-between">
        <div class="flex flex-row space-x-2">
          <a type="button" href="{% static 'docs/' %}" target="_blank">
            <div data-tooltip="Docs">
              <i class="mdi mdi-book-open-variant text-blue-300 text-2xl"></i>
            </div>
          </a>

          <a type="button" href="{% url 'api-root' %}" target="_blank">
            <div data-tooltip="REST API">
              <i class="mdi mdi-cloud-braces text-blue-300 text-2xl"></i>
            </div>
          </a>

          <a type="button" href="{% url 'api_docs' %}" target="_blank">
            <div data-tooltip="REST API documentation">
              <i class="mdi mdi-book text-blue-300 text-2xl"></i>
            </div>
          </a>

          <a type="button" href="https://github.com/status-page/status-page" target="_blank">
            <div data-tooltip="Source Code">
              <i class="mdi mdi-github text-blue-300 text-2xl"></i>
            </div>
          </a>
        </div>
        <div class="flex flex-row space-x-4">
          <div>{% annotated_now %} {% now 'T' %}</div>
          <div>{{ settings.HOSTNAME }} (v{{ settings.VERSION }})</div>
        </div>
      </div>
    </footer>
  </div>
{% endblock %}
