{% extends 'base/layout.html' %}

{% block content %}
  {% if config.CUSTOM_STYLE_CSS %}
    <style>{{ config.CUSTOM_STYLE_CSS }}</style>
  {% endif %}
  <div class="container mx-auto max-w-3xl pb-8">
    <div class="flex flex-col space-y-8 pt-6">
      {{ config.CUSTOM_STYLE_HEADER }}
      {% if not config.CUSTOM_STYLE_HEADER_DISABLE_CORE %}
        <div class="flex flex-row justify-between items-end">
          <div class="text-5xl">{{ config.SITE_TITLE }}</div>
          <div class="flex flex-row space-x-4 items-center">
            <div>
              <button class="color-mode-toggle"><i class="color-mode-icon mdi"></i></button>
            </div>
            {% block controls %}{% endblock %}
          </div>
        </div>
      {% endif %}
      {% block home_content %}{% endblock %}
      {{ config.CUSTOM_STYLE_FOOTER }}
      {% if not config.CUSTOM_STYLE_FOOTER_DISABLE_CORE %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
