{% extends 'base/base_email.html' %}

{% block body %}
  <div style="min-height: 100vh; background: #52525b; color: #ffffff;">
    <div style="text-align: center; font-size: 1.5rem; line-height: 2rem; padding-top: 1rem; padding-bottom: 1rem; background: #52525b;"><a href="{{ site_url }}" style="text-decoration-line: none; color: #ffffff;">{{ site_title }}</a></div>
    <div style="margin-right: auto; margin-left: auto; background: #27272a; padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 1.5rem; height: 100%;">
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock body %}
