{% extends 'base/home.html' %}
{% load helpers %}

{% block controls %}
  <div>
    <a href="{% url 'subscriber_subscribe' %}" class="bg-indigo-500 hover:bg-indigo-600 text-white shadow px-4 py-2 rounded-md" role="button">Get Notifications</a>
  </div>
{% endblock %}

{% block home_content %}
  <div class="flex flex-col space-y-4">
    {% for incident in open_incidents %}
      <div>{{ incident.title }}</div>
      <div class="flex flex-col space-y-2">
        {% for update in incident.incident_updates.all %}
          <div>{{ update.text|markdown }}</div>
        {% endfor %}
      </div>
    {% empty %}
      <div class="rounded-md {{ status.0 }} p-4">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <i class="mdi {{ status.2 }} text-xl"></i>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium {{ status.1 }}">{{ status.3 }}</h3>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="flex flex-col space-y-4">
    {% for group in component_groups %}
      <div>{{ group.name }}</div>
      <div class="flex flex-col space-y-2">
        {% for component in group.components|get_visible_components %}
          <div>{{ component.name }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="flex flex-col space-y-4">
    {% for incident in resolved_incidents %}
      <div>{{ incident.title }}</div>
      <div class="flex flex-col space-y-2">
        {% for update in incident.incident_updates.all %}
          <div>{{ update.text|markdown }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
