{% extends 'base/layout.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100">Status-Page</h2>
  </div>

  {% if form.non_field_errors %}
    <div class="rounded-md bg-red-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: mini/x-circle -->
          <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">Errors</h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc space-y-1 pl-5">
              <li>{{ form.non_field_errors }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white dark:bg-zinc-800 py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="space-y-6">
          <div>
            <label for="username" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Username</label>
            <div class="mt-1">
              <input id="username" name="username" type="text" autocomplete="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required class="block w-full appearance-none rounded-md border border-gray-300 dark:border-gray-700 px-3 py-2 placeholder-gray-400 dark:placeholder-gray-600 shadow-sm focus:outline-none sm:text-sm text-black">
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Password</label>
            <div class="mt-1">
              <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full appearance-none rounded-md border border-gray-300 dark:border-gray-700 px-3 py-2 placeholder-gray-400 dark:placeholder-gray-600 shadow-sm focus:outline-none sm:text-sm text-black">
            </div>
          </div>

          {% if totp_devices %}
            <div>
              <label for="otp-device" class="block text-sm font-medium text-gray-700 dark:text-gray-300">OTP Devices</label>
              <div class="mt-1">
                <select id="otp-device" name="otp-device" class="block w-full appearance-none rounded-md border border-gray-300 dark:border-gray-700 px-3 py-2 placeholder-gray-400 dark:placeholder-gray-600 shadow-sm focus:outline-none sm:text-sm text-black">
                  {% for device in totp_devices %}
                    <option value="{{ device.persistent_id }}" {% if selected_device in device.persistent_id %}selected{% endif %}>{{ device.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div>
              <label for="otp-token" class="block text-sm font-medium text-gray-700 dark:text-gray-300">OTP Token</label>
              <div class="mt-1">
                <input id="otp-token" name="otp-token" type="text" autocomplete="otp-token" required class="block w-full appearance-none rounded-md border border-gray-300 dark:border-gray-700 px-3 py-2 placeholder-gray-400 dark:placeholder-gray-600 shadow-sm focus:outline-none sm:text-sm text-black">
              </div>
            </div>
          {% endif %}

          <div>
            <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
