{% load form_helpers %}
{% load helpers %}

<form action="." method="get" class="bg-zinc-200 dark:bg-zinc-800 shadow px-4 py-2 rounded-md">
  <div>
    <div class="overflow-visible flex flex-col justify-between py-3 space-y-2">
      {% for field in filter_form.hidden_fields %}
        {{ field }}
      {% endfor %}
      {# List filters by group #}
      {% for heading, fields in filter_form.fieldsets %}
        <div class="space-y-4">
          {% if heading %}
            <div class="text-xl">{{ heading }}</div>
          {% endif %}
          {% for name in fields %}
            {% with field=filter_form|get_item:name %}
              {% render_field field %}
            {% endwith %}
          {% endfor %}
        </div>
        {% if not forloop.last %}
          <hr class="border-zinc-300 dark:border-zinc-600 mt-0" />
        {% endif %}
      {% empty %}
        {% for field in filter_form.visible_fields %}
          <div class="col col-12">
            {% render_field field %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="flex flex-row justify-end space-x-2 border-0">
      <button type="button" class="border border-red-500 hover:bg-red-500 hover:text-white text-red-500 px-2 py-1 rounded-md font-medium h-8 flex items-center" data-reset-select>
        <i class="mdi mdi-backspace"></i> Reset
      </button>
      <button type="submit" class="bg-blue-500 hover:bg-blue-400 text-white px-2 py-1 rounded-md font-medium h-8 flex items-center">
        <i class="mdi mdi-magnify"></i> Search
      </button>
    </div>
  </div>
</form>
