{% load helpers %}

<div id="django-messages" class="toast-container">
  {# Django Messages #}

  {# Form Field Errors #}
  {% if form and form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="django-message toast items-center bg-red-400" data-django-type="field-error" role="alert" aria-live="assertive" aria-atomic="true" data-sp-delay="60000">
          <div class="toast-header bg-red-400">
            <strong class="me-auto">
              <i class="mdi mdi-{{ "danger"|icon_from_status }} me-1"></i>
              {{ field.label }}
            </strong>
            <button type="button" class="btn-close btn-close mr-2" data-sp-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {{ error|escape }}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {# Non-Field Form Errors #}
  {% if form and form.non_field_errors %}
    {% for error in form.non_field_errors.get_json_data %}
      <div class="django-message toast items-center bg-red-400" data-django-type="non-field-error" role="alert" aria-live="assertive" aria-atomic="true" data-sp-delay="10000">
        <div class="flex flex-row justify-between items-center">
          <div class="toast-body">
            <i class="mdi mdi-{{ "danger"|icon_from_status }} me-1"></i>
            {{ error.message }}
          </div>
          <button type="button" class="btn-close btn-close mr-2" data-sp-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {# Django Messages #}
  {% if messages %}
    {% for message in messages %}
      {% with message.level_tag|status_from_tag as status %}
      {% with status|icon_from_status as icon %}
        <div class="django-message toast items-center {{ status }}" data-django-type="message" role="alert" aria-live="assertive" aria-atomic="true" data-sp-delay="10000">
          <div class="flex flex-row justify-between items-center">
            <div class="toast-body">
              <i class="mdi mdi-{{ icon }} me-1"></i>
              {{ message }}
            </div>
            <button type="button" class="btn-close btn-close mr-2" data-sp-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      {% endwith %}
      {% endwith %}
    {% endfor %}
  {% endif %}
</div>
