{% load helpers %}

<div class="flex flex-row justify-between items-end">
  <div class="col-auto table-controls noprint">
    <div class="block w-full rounded-md border-gray-300 shadow-sm sm:text-sm text-black bg-white dark:text-white dark:bg-zinc-900 dark:border-zinc-700 quicksearch hide-last-child">
      <input type="search" results=5 name="q" id="quicksearch" class="sm:text-sm text-black dark:text-white dark:bg-zinc-900 border-0 rounded-l-md focus:outline-none" placeholder="Quick search"
        hx-get="{{ request.full_path }}" hx-target="#object_list" hx-trigger="keyup changed delay:500ms, search" />
      <button class="mx-2" type="button" id="quicksearch_clear"><i class="mdi mdi-close-circle"></i></button>
    </div>
    {% block extra_table_controls %}{% endblock %}
  </div>
  <div class="col-auto ms-auto table-controls noprint">
    {% if request.user.is_authenticated and table_modal %}
      <div class="table-configure input-group input-group-sm" x-data>
        <button type="button" title="Configure Table" @click="$dispatch('toggle-modal')"
          class="border dark:border-zinc-400 dark:text-zinc-400 dark:hover:bg-zinc-400 dark:hover:text-black border-zinc-700 text-zinc-700 hover:bg-zinc-700 hover:text-white px-3 py-1 rounded-md font-medium">
          <i class="mdi mdi-cog"></i> Configure Table
        </button>
      </div>
    {% endif %}
  </div>
</div>
