{% load form_helpers %}

<form action="{{ form_url }}" method="post" class="bg-zinc-200 dark:bg-zinc-800 shadow px-4 py-2 rounded-md">
  {% csrf_token %}
  <div>
    <div class="py-2 px-2 border-b border-gray-300 dark:border-gray-600">
      <div class="text-2xl">Confirm Deletion</div>
    </div>
    <div class="py-4 px-4 border-b border-gray-300 dark:border-gray-600">
      <p>Are you sure you want to <strong class="text-danger">delete</strong> {{ object_type }} <strong>{{ object }}</strong>?</p>
      {% render_form form %}
    </div>
    <div class="py-2 px-2 flex flex-row justify-end space-x-2">
      {% if return_url %}
        <a href="{{ return_url }}" class="border border-gray-500 hover:bg-gray-500 hover:text-white text-gray-500 px-2 py-2 rounded-md font-medium">Cancel</a>
      {% else %}
        <button type="button" class="border border-gray-500 hover:bg-gray-500 hover:text-white text-gray-500 px-2 py-2 rounded-md font-medium" data-bs-dismiss="modal">Cancel</button>
      {% endif %}
      <button type="submit" class="bg-red-500 hover:bg-red-400 text-white px-2 py-2 rounded-md font-medium">Delete</button>
    </div>
  </div>
</form>
